<nav class="navbar navbar-expand-lg mx-auto " data-bs-theme="dark" id="navbar" dir="rtl">
    <div class="container align-items-center flex-row-reverse">

        <!-- اللوجو -->
        <a class="navbar-brand text-warning" routerLink="/home">
            <img src="../../../assets/images/images.png" class="rounded-circle photo me-2" >
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- UL على اليمين -->
            <div class="navbar-nav  d-flex justify-content-between w-50 text-end ">
                <a class="nav-link active" aria-current="page" href="index.html">الرئيسية</a>
                <a class="nav-link" href="#services">الخدمات</a>
                <a class="nav-link" href="nearest.html">المحطات</a>
                <a class="nav-link" href='../html/about.html'>من نحن</a>
                <a class="nav-link" href="#">اتصل بنا</a>
            </div>
        </div>
    </div>
</nav>
    <br>
    <br>