<app-navmain></app-navmain>
<section class="station-section" id="home" dir="rtl">

    <div class="overlay ">
        <div class="next">
            <h1 class="title fw-bold mt-5 text-uppercase hero-text">
                <span> أعد شحن رحلتك بالراحة والجودة</span>
            </h1>

            <button class="btn btn-danger main-btn fw-bold text-black px-5 py-2 rounded-5 fs-4" routerLink="/nearest">
                أقرب محطة
            </button>

            <button class="btn btn-danger main-btn fw-bold text-black px-5 py-2 rounded-5 fs-4 mt-2" id="locationButton"
                onclick="window.location.href='https://www.google.com/maps'">
                حدد موقعي
            </button>
        </div>
    </div>
</section>