/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Tajawal:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Start transparent */
body {
    opacity: 0;
    transition: opacity 0.6s ease;
}

/* After load become visible */
body.fade-in {
    opacity: 1;
}

/* Reset & Base */


html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
}

/* Arabic Text */
body,
p,
li {
    font-family: 'Roboto', sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* Navbar */
.nav-link{
    cursor: pointer;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.075);
    transition: transform 0.5s ease;
}

/* Hero Section */
.station-section {
    height: 100vh;
    background-image: url("../../../assets/images/premium_photo-1742655614256-70097224b0f8.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.station-section img {
    width: 90px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next{
       width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.hero-text {
    font-size: 40px;
    direction: rtl;
    font-family: 'Poppins', sans-serif;
    color: rgb(230, 173, 16);
    overflow: hidden;
    border-right: .15em solid #ffffff;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 2px;
    width: 0;
    animation: typing 8s steps(30) infinite, blink .7s infinite;
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }

    35%,
    50% {
        width: 50%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}









.station-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}


