.station-card {
    transform: translateY(40px);
    transition: 0.8s ease;
}

.station-card.show {
    transform: translateY(0);
    opacity: 1 !important;
}

.station-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

/* Station Images */
.station-img {
    width: 100%;
    max-width: 220px;
    border-radius: 20px;
}

/* Station Icons */
.station-icons span {
    font-size: 20px;
    margin: 0 6px;
    transition: 0.3s;
}

.station-card:hover .station-icons span {
    font-size: 26px;
    transform: scale(1.2);
    transition: 0.8s;
}



/* .station-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
} */

/* .header-content {
    position: relative;
    z-index: 2;
    color: white;
} */

/* Services Boxes */
 .service-box {
    background: #fff;
    transition: 0.3s;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
} 





.gradient-text-head {
    background: linear-gradient(90deg, #a17b7b, rgb(83, 50, 1), #850909, #0000ff0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: bold;
}

