<app-navbar></app-navbar>

<section class="stations-section  pb-3" @fadeUp>

    <div class="container text-center">
        <button
            class="btn btn-outline-success bi-arrow-bar-left d-flex flex-row-reverse justify-content-center align-items-center fw-bold"
            routerLink="/home">رجوع</button>
        <h1 class="text-center text-danger  gradient-text-head bi-car-front">أقرب المحطــات </h1>
        <h2 class="mb-4 fs-3 fw-bold">(أقــرب محطــات إلـيك اضغـط للتفـاصيـل)</h2>
        <div class="row g-4">
            <!-- Station 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">القاهره الجديده</span></h3>
                    <p class="text-muted">2.3 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto"
                        routerLink="/details">تفاصيـل</button>
                </div>
            </div>
            <!-- Station 2 -->
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">العبور</span></h3>
                    <p class="text-muted">6.7 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>☕</span>
                        <span>🚗</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button2"
                        routerLink="/details2">تفاصيـل</button>
                </div>
            </div>

            <!-- Station 3 -->
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">أكتوبر</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-october-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">زايد</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-zayed-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">الشروق</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-elshorouk-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">العلمين الجديده</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-new-alamein">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">السويس</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-suez-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">الجيزه</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-geza-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">المنطقه الاسثماريه بالجيزه</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-giza2-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">تنمية القري السياحيه</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-torism">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">البحر الأحمر</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-red-sea-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">القاهره</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-cairo">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">القليوبيه</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-qalyub-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">المنوفيه</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-mnofya-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">جنوب سيناء</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-sinai-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">الإسكندريه</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-alexandria-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">الإسماعيلية</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-ismailia-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">الغربيه</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-gharbia-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">أسوان</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-aswan-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">مرسي مطروح</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-matrouh-details">تفاصيـل </button>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="station-card card p-4 text-center shadow rounded-4">
                    <h3 class="fw-bold">Chillout – <span class="text-danger">الساحل الشمالي الغربي</span></h3>
                    <p class="text-muted">4.1 km away</p>
                    <div class="station-icons mb-3">
                        <span>⛽</span>
                        <span>🚘</span>
                        <span>🍔</span>
                        <span>🛒</span>
                    </div>
                    <button class="btn btn-outline-primary mt-2 w-75 mx-aut rounded-5 fw-bold mx-auto" id="Button3"
                        routerLink="/app-north-details">تفاصيـل </button>

                </div>
            </div>
        </div>







        
    </div>


</section>