
 .station-card {
     transition: 0.7s;
     cursor: pointer;
     border-radius: 20px;
 }

 .station-card:hover {
     transform: translateY(-7px);
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
 }

 .icon-circle {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     background: #0d6efd;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto 15px;
 }

 .icon-circle i {
     font-size: 28px;
     color: white;
 }

 a {
     text-decoration: none;
     color: inherit;
 }


 .station-icons span {
     font-size: 20px;
     margin: 0 6px;
     transition: 0.6s ease;
     /* هنا التحريك الأساسي */
 }

 .station-card:hover .station-icons span {
     font-size: 28px;
     transform: scale(1.3);
 }

 .station-header {
     background: url('../../../assets/images/cture.jpg') center/cover no-repeat;
     height: 300px;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .station-header .overlay {
     position: absolute;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.6);
     width: 100%;
     height: 100%;
 }

 .header-content {
     position: relative;
     z-index: 2;
     color: white;
 }
 .gradient-text-head {
    background: linear-gradient(90deg, #a17b7b, rgb(83, 50, 1), #850909, #0000ff0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: bold;
}