<section class="station-header position-relative">
    <div class="overlay"></div>

    <div class="header-content text-center position-absolute top-50 start-50 translate-middle">
        <h1 class="station-name fw-bold text-white display-5 ">محافظة القاهره</h1>
    </div>
</section>
<div class="container-fluid py-5" dir="rtl" @fadeUp>
    <div class="div d-flex justify-content-between align-items-center">
        <button
            class="btn btn-outline-success bi-arrow-bar-left d-flex flex-row-reverse justify-content-center align-items-center fw-bold"
            routerLink="/nearest">رجوع</button>
        <button
            class="btn btn-outline-success bi-arrow-bar-left d-flex flex-row-reverse justify-content-center align-items-center fw-bold"
            routerLink="/home">الصفحة الرئيسية</button>
    </div>

    <h2 class="text-center mb-4 bi-bookmark fs-1 fw-bold gradient-text-head " data-aos="fade-down">محطات محاقظة القاهره
        <span class="bi-bookmark"></span>
    </h2>

    <div class="row g-4">
        <!-- كارد: الرحاب -->
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo1">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>العباسيه (السكة البيضاء)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo2">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الفردوس 1</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo3">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الفردوس 2</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo4">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الفردوس 3</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo5">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الطيران 1 (البرج) </h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo21">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الطيران 2(البرج)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo6">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>شينزوابي 1</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo7">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>شينزوابي 2</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo8">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المشير 1</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo9">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المشير 2</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo10">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المشير 3</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo11">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>جاردينيا 1</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo12">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>جاردينيا 2</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo13">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الطاقه</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo14">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الدائري 3 (الفيونكات)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo15">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>زهراء مدينة نصر</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo16">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المقطم 1 (حسب الله الكفراوي)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo22">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المقطم 2 (الأسمرات)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo17">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>النخيل</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo18">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>السلام 1</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo19">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>السلام 2</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo20">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>حديقة بدر</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo23">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>كوبري المطار (الشيراتون)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo24">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>صقر قريش 1</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo25">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>صقر قريش 2</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo26">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>جبخانة محمد علي</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo27">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>حدائق القبة</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo28">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المطريه (سوق الخميس)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo29">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>جوزيف تيتو</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo30">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>سعد الشاذلي</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo31">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>الصاعـقـة</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo32">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>(النزهه) محطة جسر السويس</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo33">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>البساتين (المجزر الآلي)</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo34">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المطار 1</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <a routerLink="/app-cairo35">
                <div class="card station-card p-3 text-center">
                    <div class="icon-circle"><i class="bi-star-fill text-warning fs-1"></i></div>
                    <h4>المريلاند</h4>
                    <p>احد اكبر محطات تنمية القري السياحيه</p>
                    <div class="station-icons mb-3 ">
                        <span>⛽</span>
                        <span>🚗</span>
                        <span>☕</span>
                        <span>🛒</span>
                    </div>
                </div>
            </a>
        </div>

































    </div>