<section class="station-header position-relative">
    <div class="overlay"></div>

    <div class="header-content text-center position-absolute top-50 start-50 translate-middle">
        <h1 class="station-name fw-bold text-white display-5">خدمات المحطة</h1>
        <p class="lead text-light">تبعد 2.3 كم</p>
    </div>
</section>

<section class="container-fluid p-3" id="services" dir="rtl" >
    <div class="div d-flex justify-content-between align-items-center">
        <button
            class="btn btn-outline-success bi-arrow-bar-left d-flex flex-row-reverse justify-content-center align-items-center fw-bold"
            routerLink="/details">رجوع</button>
        <button
            class="btn btn-outline-success bi-arrow-bar-left d-flex flex-row-reverse justify-content-center align-items-center fw-bold"
            routerLink="/home">الصفحة الرئيسية</button>
    </div>

    <h1 class="text-center  gradient-text-head ">

      محطة ماســــتر 1
        <img src="../../../assets/images/customer-service.png" class="Image-customer">
        <hr>
    </h1>

    <div class="row">
        <div class="col-lg-8">
            <div class="row g-3 mb-4">

                @for (service of services2; track service.title) {
                <div class=" col-lg-3">

                    <div class="service-box p-3 text-center shadow-md rounded-4 bg-white">

                        <i [class]="service.icon + ' fs-4'"></i>

                        <p class="mt-2 fw-semibold">
                            {{ service.title }}
                        </p>

                        <button class="btn btn-outline-primary mt-2 w-75 rounded-5 fw-bold"
                            [routerLink]="service.route">
                            التفاصيل
                        </button>

                    </div>
                </div>
            }
            </div>
            <hr>
            <h2 class="fw-bold mt-4  ">
                الموقع <span class="bi-award"></span></h2>
            <hr>
            <div class="map-container rounded-4 overflow-hidden shadow-md">
                <div id="map" style="height:300px; width:100%"></div>
                <button
                    class="btn btn-outline-secondary fw-bold mx-auto d-block w-50 text-info-emphasis mt-4 bi bi-geo-alt-fill d-flex flex-row-reverse justify-content-center align-items-center"
                    (click)="openGoogleMaps()">الاتجاهات</button>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="info-box p-4 shadow-lg rounded-4 bg-white">
                <h3 class="fw-bold mb-3">معلومات المحطة</h3>
                <p class="text-success fw-medium"><i class="fa-regular fa-clock"></i> مفتوح 24 ساعة</p>
                <p class="fw-medium"><i class="fa-solid fa-phone text-primary"></i> 01050609225</p>
                <p class="fw-medium"><i class="fa-solid fa-diamond-turn-right"></i> اول خدمات شارع التسعين الشمالي، قسم أول القاهرة الجديدة، محافظة القاهرة‬ 4720110
                <h6 class="section-title fw-bold ">
                    المعرض
                    <i class="bi bi-badge-hd "></i>
                </h6>

                <hr>
                <section class="container mt-5">
                    <div id="galleryCarousel" class="carousel slide rounded-4 shadow-sm" data-bs-ride="carousel"
                        data-bs-interval="3000">
                        <!-- المؤشرات -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="0"
                                class="active"></button>
                            <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="2"></button>
                            <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="3"></button>
                            <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="4"></button>
                            <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="5"></button>
                            <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="6"></button>
                        </div>

                        <!-- الصور -->
                        <div class="carousel-inner rounded-4">
                            <div class="carousel-item active">
                                <img src="https://lh3.googleusercontent.com/gps-cs-s/AG0ilSx7z0YqU3jD8kqT4rdi99Eoak2cJwHoYR_ebVtZIg326wLdpNHwxswL5NBOY5WYKLKR1Q4jKQoRR7Z3rhYpMn5T9TERrDgc245M5PwTECGlPrpcuz0UJny9Ia8ysbgnI30_DqwP=w408-h306-k-no"
                                    class="d-block w-100 rounded-4" alt="صورة 1">
                            </div>
                            <div class="carousel-item">
                                <img src="https://lh3.googleusercontent.com/gps-cs-s/AG0ilSy4NF7k3tbbBLF_Ygsw9F8lWykA_4jBWhSGwxXhFAqUPgxwbuwWG02WVmOrmLPUWI8CLg2yPALstWnPuyg3FkxrJkMp5EtFYH7EM5wTBloO9_mrklX30qFFYhYA994GR0VSWNVW=s680-w680-h510-rw"
                                    class="d-block w-100 rounded-4" alt="صورة 2">
                            </div>
                            <div class="carousel-item">
                                <img src="https://lh3.googleusercontent.com/gps-cs-s/AG0ilSxfrX-anULpawI3OyOZDfQ1xjiIXzLyBWKROQpB1zxNOPK7cE4KS4gyCsuEKzFLSg5EwukAuhj932VksvwrRXxeF3ug15Yk8GIqusS46Als4sTjncU7CieU1n8c2pkhv0SnGoM=s680-w680-h510-rw"
                                    class="d-block w-100 rounded-4" alt="صورة 3">
                            </div>
                            <div class="carousel-item">
                                <img src="https://lh3.googleusercontent.com/gps-cs-s/AG0ilSy5-4QNOmH4H0TuQYhjjc99pZxQiwO48Jc2JrLtTeJD-LmRxgJz0pvCXoA_EFRdaYnQ5UXXj0jNUI01blLckV2eZ0z-J97lfkHsBXqnYo868muWD3Tg7N4HK-SW9JsXLcwqPZ1-=s680-w680-h510-rw"
                                    class="d-block w-100 rounded-4" alt="صورة 4">
                            </div>
                            <div class="carousel-item">
                                <img src="https://lh3.googleusercontent.com/gps-cs-s/AG0ilSwQ0ieXUItuv5UOmMOIAJcqm0qMriCZwmGk-BzuS8H-jbfhUVT8InlilllDAFXInymSJ4VyaLybdTIbLiRkfa0WVjADol4aBBaX7T0l6rGHRQ3UqtWB76T1i_S37BXWMToBCylPnA=s1360-w1360-h1020-rw"
                                    class="d-block w-100 rounded-4" alt="صورة 5">
                            </div>
                            <div class="carousel-item">
                                <img src="https://lh3.googleusercontent.com/gps-cs-s/AG0ilSySDd5ywv7KdrYkfaNNGiu28gIp6K7uDvJ9FD_Ju1OfimD1oZExuBMozya_zHiMLxyduw2uaTLOPsLgMaEQVQlqq6R3WcefrXl0De3sMNeqpRlnMHOaersAkOR2hQMhR2So6SbQHQ=s1360-w1360-h1020-rw"
                                    class="d-block w-100 rounded-4" alt="صورة 6">
                            </div>
                        </div>

                        <!-- أزرار التحكم -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">السابق</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">التالي</span>
                        </button>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>